.mx-test .content {
  margin: 0 0 0 300px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.mx-test .sidebar {
  width: 260px;
}

.mx-test .layout-text {
  padding-right: 60px;
  padding-left: 60px;
}

.mx-test .section {
  margin-bottom: 7.2rem;
}

.mx-test .section__box {
  margin-bottom: 4.8rem;
}

.mx-subtitle {
  font-weight: bold;
  margin-bottom: 1.8rem;
  background-color: white;
}

.mx-element .mx-subtitle {
  padding: 1.8rem;
}

.mx-element {
  background-color: darkolivegreen;
}

.mx-inner {
  background-color: darkslategray;
}

.mx-test .mx-object-fit-cover {
  position: relative;
  width: 320px;
}

.mx-test .mx-object-fit-cover::before {
  content: "";
  display: block;
  position: relative;
  height: 0;
  padding-top: 56.25%;
}

.mx-test .mx-object-fit-cover img {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 0;
  min-height: 0;
  max-width: none;
  max-height: none;
  height: 100%;
  width: 100%;
  -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -o-object-fit: cover;
     object-fit: cover;
}

.mx-test .mx-object-fit-contain {
  position: relative;
  width: 320px;
}

.mx-test .mx-object-fit-contain::before {
  content: "";
  display: block;
  position: relative;
  height: 0;
  padding-top: 56.25%;
}

.mx-test .mx-object-fit-contain img {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 0;
  min-height: 0;
  max-width: none;
  max-height: none;
  height: 100%;
  width: 100%;
  -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -o-object-fit: contain;
     object-fit: contain;
}

.mx-margin {
  width: 320px;
  overflow: hidden;
}

.mx-margin__inner {
  width: auto;
  height: 100px;
  margin: 10px 20px 30px 40px;
}

.mx-margin__inner::before {
  content: "margin(10px, 20px, 30px, 40px)";
  display: block;
  position: relative;
  padding: 5px;
  text-align: center;
}

.mx-push-auto {
  padding: 10px;
}

.mx-push-auto__inner {
  width: 320px;
  height: 50px;
  margin-right: auto;
  margin-left: auto;
}

.mx-triangle {
  width: 320px;
  height: 200px;
  padding: 10px;
  text-align: center;
  cursor: default;
}

.mx-triangle__inner {
  display: inline-block;
  position: relative;
  vertical-align: middle;
  max-width: 90%;
  width: 200px;
  height: 50px;
  filter: drop-shadow(4px 4px 2px rgba(0, 0, 0, 0.4));
}

.mx-triangle__inner::before {
  content: "";
  display: block;
  position: absolute;
}

.mx-triangle__inner.mx--to-north::before {
  width: 0;
  height: 0;
  z-index: 2;
  border-bottom: 15px solid tomato;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
}

.mx-triangle__inner.mx--to-east::before {
  width: 0;
  height: 0;
  z-index: 2;
  border-left: 15px solid tomato;
  border-bottom: 10px solid transparent;
  border-top: 10px solid transparent;
}

.mx-triangle__inner.mx--to-south::before {
  width: 0;
  height: 0;
  z-index: 2;
  border-top: 15px solid tomato;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
}

.mx-triangle__inner.mx--to-west::before {
  width: 0;
  height: 0;
  z-index: 2;
  border-right: 15px solid tomato;
  border-bottom: 10px solid transparent;
  border-top: 10px solid transparent;
}

.mx-triangle-pretty {
  width: 320px;
  height: 200px;
  padding: 10px;
  text-align: center;
  cursor: default;
}

.mx-triangle-pretty__inner {
  display: inline-block;
  position: relative;
  vertical-align: middle;
  max-width: 90%;
  width: 200px;
  height: 50px;
  filter: drop-shadow(4px 4px 2px rgba(0, 0, 0, 0.4));
}

.mx-triangle-pretty__inner.mx--to-north::before, .mx-triangle-pretty__inner.mx--to-north::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 100%;
  left: 50%;
  pointer-events: none;
}

.mx-triangle-pretty__inner.mx--to-north::before {
  z-index: 2;
  margin-left: -15px;
  border-bottom: 30px solid darkslategray;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
}

.mx-triangle-pretty__inner.mx--to-north::after {
  z-index: 3;
  margin-left: -12px;
  border-bottom: 23px solid darkolivegreen;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
}

.mx-triangle-pretty__inner.mx--to-east::before, .mx-triangle-pretty__inner.mx--to-east::after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 100%;
  pointer-events: none;
}

.mx-triangle-pretty__inner.mx--to-east::before {
  z-index: 2;
  margin-top: -15px;
  border-left: 30px solid darkslategray;
  border-bottom: 15px solid transparent;
  border-top: 15px solid transparent;
}

.mx-triangle-pretty__inner.mx--to-east::after {
  z-index: 3;
  margin-top: -12px;
  border-left: 23px solid darkolivegreen;
  border-bottom: 12px solid transparent;
  border-top: 12px solid transparent;
}

.mx-triangle-pretty__inner.mx--to-south::before, .mx-triangle-pretty__inner.mx--to-south::after {
  content: "";
  display: block;
  position: absolute;
  top: 100%;
  right: 50%;
  pointer-events: none;
}

.mx-triangle-pretty__inner.mx--to-south::before {
  z-index: 2;
  margin-right: -15px;
  border-top: 30px solid darkslategray;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
}

.mx-triangle-pretty__inner.mx--to-south::after {
  z-index: 3;
  margin-right: -12px;
  border-top: 23px solid darkolivegreen;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
}

.mx-triangle-pretty__inner.mx--to-west::before, .mx-triangle-pretty__inner.mx--to-west::after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  right: 100%;
  pointer-events: none;
}

.mx-triangle-pretty__inner.mx--to-west::before {
  z-index: 2;
  margin-top: -15px;
  border-right: 30px solid darkslategray;
  border-bottom: 15px solid transparent;
  border-top: 15px solid transparent;
}

.mx-triangle-pretty__inner.mx--to-west::after {
  z-index: 3;
  margin-top: -12px;
  border-right: 23px solid darkolivegreen;
  border-bottom: 12px solid transparent;
  border-top: 12px solid transparent;
}

.mx-triangle-pretty__inner.mx--to-north::before, .mx-triangle-pretty__inner.mx--to-north::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 50%;
  pointer-events: none;
}

.mx-triangle-pretty__inner.mx--to-north::before {
  z-index: 2;
  margin-left: -15px;
  border-top: 30px solid darkolivegreen;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
}

.mx-triangle-pretty__inner.mx--to-north::after {
  z-index: 3;
  margin-left: -12px;
  border-top: 23px solid darkslategray;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
}

.mx-mathsass {
  width: 320px;
  height: 200px;
  padding: 10px;
  text-align: center;
  cursor: default;
}

.mx-mathsass__inner {
  display: inline-block;
  vertical-align: middle;
  max-width: 90%;
  width: 240px;
  height: 50px;
  -ms-transform: rotate(45deg);
      transform: rotate(45deg);
}

.mx-font {
  padding: 1em;
  background-color: white;
}

.mx-font .mx-font--01 {
  font-size: 1.4rem;
  line-height: 1.5;
}

.mx-font .mx-font--02 {
  font-size: 1.7rem;
  line-height: 1.8;
}

.mx-font .mx-font--03 {
  font-size: 2.1rem;
  line-height: 1.2;
}

/*# sourceMappingURL=test-mixins.css.map */
